.navbar-header-inner
  .nav-toggle-btn(data-toggle='dropdown')
    include ../nav-toggle
  .navigation.clearfix
    ul
      li
        a.active(href="#")
          span Личная информация  
      li
        a(href="#")
          span Опыт                      
      li
        a(href="#")
          span JavaScript                      
      li
        a(href="#")
          span  О себе
     