doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block page
      - var page = "index";
    block title
    link(href='css/style.css', rel='stylesheet')
  body
    .wrapper
      include ../partials/main/header
      .content
        .container
          block content  
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/select2.full.min.js')
    script(src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.7/js/ion.rangeSlider.js")
    script(src='js/script.js')
