extends layouts/default

block page
  - var page = "index";
block title
  title Анкета

block content
  include partials/heading
  include partials/personal-info   
  include partials/experience 
  include partials/about-js 
  include partials/about 
  include partials/btn 
