@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r6d0xe');
  src:  url('../fonts/icomoon.eot?r6d0xe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r6d0xe') format('truetype'),
    url('../fonts/icomoon.woff?r6d0xe') format('woff'),
    url('../fonts/icomoon.svg?r6d0xe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e900";
}
.icon-arr-down:before {
  content: "\e901";
}
.icon-arr-up:before {
  content: "\e902";
}
.icon-experience:before {
  content: "\e903";
}
.icon-js:before {
  content: "\e904";
}
.icon-personal-info:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\ea10";
}
