.wrap-about-js
  i.icon-js 
  .about-js
    .title Уровень владения JavaScript
    .progress-bar
      .text
        span Не владею
        span Использую готовые решения
        span Использую готовые решения и умею и переделывать
        span Пишу сложный JS с нуля
      input(id="range_01" class="irs-hidden-input" readonly="")