.wrap-about
  i.icon-about 
  .about
    .title Расскажите о себе
    p.description Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.
    textarea(type="text" placeholder="Понравилась тем, что...") В вашей вакансии меня привлекла возможность работать удаленно, а также развиваться и иметь дело с интересными разнообразными проектами. От работы в вашей компании я ожидаю получить возможность быстрого развития своих навыков.
