.wrap-experience
  i.icon-experience 
  .experience
    .title Расскажите о своем опыте
    .wrap-checkbox
      .col
        .check-item
          input(type="checkbox")#checkbox1 
          label(for="checkbox1") БЭМ/OOCSS
        .check-item
          input(type="checkbox" checked)#checkbox2
          label(for="checkbox2") Stylus/LESS/SASS
        .check-item
          input(type="checkbox" checked)#checkbox3
          label(for="checkbox3") Работаю с SVG
      .col
        .check-item
          input(type="checkbox" checked)#checkbox4
          label(for="checkbox4") Верстаю семантично
        .check-item
          input(type="checkbox")#checkbox5
          label(for="checkbox5") ES2015/ES2016
        .check-item
          input(type="checkbox" checked)#checkbox6
          label(for="checkbox6") Gulp/GRUNT
      .col
        .check-item
          input(type="checkbox")#checkbox7
          label(for="checkbox7") Webpack
        .check-item
          input(type="checkbox" checked)#checkbox8
          label(for="checkbox8") jQuery
        .check-item
          input(type="checkbox" checked)#checkbox9
          label(for="checkbox9") Ипользую Git
